<%- include("header") -%>

    <div class="about">
        <div class="mp-top-row">
            <div class="about-head mp-left-header">ABOUT ME</div>
            <div class="mp-right-header">Edit</div>
        </div>
        <div class="mp-input-box">
            <textarea name="about" rows="4" class="mp-about-text" placeholder="Add something about you."></textarea>
        </div>
    </div>

    <div class="underline"></div>

    <div class="controbox">
        <div class="mp-top-row">
            <div class="mp-left-header">CIPHER BOX</div>

        </div>
        <div class="graph">
            <ul class="months">
                <li>Jan</li>
                <li>Feb</li>
                <li>Mar</li>
                <li>Apr</li>
                <li>May</li>
                <li>Jun</li>
                <li>Jul</li>
                <li>Aug</li>
                <li>Sep</li>
                <li>Oct</li>
                <li>Nov</li>
                <li>Dec</li>
            </ul>
            <ul class="days">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="squares">
                <!-- added via javascript -->
            </ul>
        </div>
    </div>

    <div class="underline"></div>

    <div class="links">
        <div class="ontheweb">
            <div class="mp-top-row">
                <div class="about-head mp-left-header">ON THE WEB</div>
                <div class="mp-right-header">Edit</div>
            </div>
        </div>

        <div class="mp-links-box">
            <div class="mp-link">
                <div class="mp-title">Linkedin</div>
                <div class="mp-input-link"><span class="mp-link-icon">
                        <i class="bx bxl-linkedin-square linkedin"></i>
                    </span><input class="mp-link-text" placeholder="LinkedIn">
                </div>
            </div>
            <div class="mp-link">
                <div class="mp-title">Github</div>
                <div class="mp-input-link"><span class="mp-link-icon">
                        <i class="bx bxl-github github"></i>
                    </span><input class="mp-link-text" placeholder="GitHub">
                </div>
            </div>
            <div class="mp-link">
                <div class="mp-title">Facebook</div>
                <div class="mp-input-link"><span class="mp-link-icon">
                        <i class="bx bxl-facebook facebook"></i></span>
                    <input class="mp-link-text" placeholder="Facebook">
                </div>
            </div>
            <div class="mp-link">
                <div class="mp-title">Twitter</div>
                <div class="mp-input-link"><span class="mp-link-icon">
                        <i class="bx bxl-twitter twitter"></i></span><input class="mp-link-text" placeholder="Twitter">
                </div>
            </div>
            <div class="mp-link">
                <div class="mp-title">Instagram</div>
                <div class="mp-input-link"><span class="mp-link-icon">
                        <i class="bx bxl-instagram instagram"></i></span><input class="mp-link-text"
                        placeholder="Instagram"></div>
            </div>
            <div class="mp-link">
                <div class="mp-title">Website</div>
                <div class="mp-input-link"><span class="mp-link-icon">
                        <i class="bx bx-globe website"></i></span><input class="mp-link-text"
                        placeholder="Your Website"></div>
            </div>
        </div>
    </div>

    <div class="underline"></div>

    <div class="proinfo">
        <div class="pro-head">
            <div class="mp-top-row">
                <div class="about-head mp-left-header">PERSONAL INFO</div>
                <div class="mp-right-header">Edit</div>
            </div>
        </div>

        <div class="mp-links-box">
            <div class="mp-link">
                <div class="mp-title">Highest Education</div>
                <div class="dropdown text-end p-input-link">
                    <div class="mp-input-link dropdown-toggle drop" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="mp-link-text">Select</span>
                    </div>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">Primary</a></li>
                        <li><a class="dropdown-item" href="#">Secondary</a></li>
                        <li><a class="dropdown-item" href="#">Higher Seccondary</a></li>
                        <li><a class="dropdown-item" href="#">Graduation</a></li>
                        <li><a class="dropdown-item" href="#">Post Graduation</a></li>
                    </ul>
                </div>
            </div>
            <div class="mp-link d-flex flex-wrap">
                <div class="mp-title">What do you do currently?</div>
                <div class="dropdown p-input-link">
                    <div class="mp-input-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                        type="button">
                        <span class="mp-link-text">Select</span>
                    </div>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">App Development</a></li>
                        <li><a class="dropdown-item" href="#">Web Development</a></li>
                        <li><a class="dropdown-item" href="#">Game Development</a></li>
                        <li><a class="dropdown-item" href="#">Data Structures</a></li>
                        <li><a class="dropdown-item" href="#">Programming</a></li>
                        <li><a class="dropdown-item" href="#">Machine Learning</a></li>
                        <li><a class="dropdown-item" href="#">Data Science</a></li>
                        <li><a class="dropdown-item" href="#">Others</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="underline"></div>

    <div class="password">
        <div class="pass-head">
            <div class="mp-top-row">
                <div class="about-head mp-left-header">PASSWORD</div>
                <div class="mp-right-header">Change</div>
            </div>
        </div>

        <div class="mp-links-box">
            <div class="mp-link">
                <div class="mp-title">Password</div>
                <div class="mp-input-link">
                    <input type="password" class="mp-link-text" placeholder="Password">
                </div>
            </div>
        </div>
    </div>

    <div class="underline"></div>

    <div class="intrests">
        <div class="int-head">
            <div class="mp-top-row">
                <div class="about-head mp-left-header">INTRESTS</div>
                <div class="mp-right-header">
                    Edit
                </div>
            </div>
        </div>
        <div class="mp-links-box">
            <div class="mp-link-chbox">
                <div class="mp-title">App Development</div>
                <input type="checkbox" placeholder="Your Website">
            </div>
            <div class="mp-link-chbox">
                <div class="mp-title">Web Development</div>
                <input type="checkbox" placeholder="Your Website">

            </div>
            <div class="mp-link-chbox">
                <div class="mp-title">Game Development</div>
                <input type="checkbox" placeholder="Your Website">
            </div>
            <div class="mp-link-chbox">
                <div class="mp-title">Data Science</div>
                <input type="checkbox" placeholder="Your Website">

            </div>
            <div class="mp-link-chbox">
                <div class="mp-title">Data Structures</div>
                <input type="checkbox" placeholder="Your Website">
            </div>

            <div class="mp-link-chbox">
                <div class="mp-title">Programming</div>
                <input type="checkbox" placeholder="Your Website">
            </div>
            <div class="mp-link-chbox">
                <div class="mp-title">Machine Learning</div>
                <input type="checkbox" placeholder="Your Website">

            </div>
            <div class="mp-link-chbox">
                <div class="mp-title">Others</div>
                <input type="checkbox" placeholder="Your Website">

            </div>
        </div>
    </div>

    </div>

    <%- include("footer") -%>